*{
    transition: all .5s linear;
}
@font-face{
    font-family: telenorRegularimport;
    src:url(telenorRegular.TTF);    
}
@font-face{
    font-family: TelenorLightimport;
    src:url(TelenorLight.TTF);
}

body{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: black;
    background-image: url("PartnershipFacebookBackgroundSplit.png");
    background-repeat: no-repeat;
}
.container-fluid{
    padding: 0px;
    width: 960px;
    height: 1080px;
}
.profilePictureDiv{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 70px;
    left: 26px;
}
#profilePictureImg{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 20px 0px grey;
}
.grameenphoneTagDiv{
    height: 50px;
    width: 270px;
    position: absolute;
    left: 48px;
    top: 418px;
    background-color: red;
    opacity: .3;

}
#grameenPageName{
    position: absolute;
    left: 10px;
    top: 280px;
    font-size: 30px;
    display: inline-block;
    font-family: telenorRegularimport;
}
#grameenphoneAtTag{
    font-family: telenorRegularimport;
    height: 30px;
    position: absolute;
    left: 46px;
    top: 320px;
    font-size: 22px;
}
#grameenphoneIcon{
    position: absolute;
    left: 224px;
    top: 292px;
    height: 25px;
    width: 25px;
}
.coverPictureDiv {
    height: 260px;
    width: 702px;
    position: absolute;
    top: 44px;
    left: 256px;
}
#coverPictureImg{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 20px 0px grey;
}
.recentPost {
    position: absolute;
    top: 800px;
    height: 200px;
    width: 200px;
    left: 32px;
}
#recentPostSize{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 20px 0px grey;
    visibility: hidden;
}
#captionSize{
    font-size: 20px;
    position: absolute;
    top: 1015px;
    left: 85px;
    font-family: telenorRegularimport;
    visibility: hidden;
}
.facebookVideoDiv{
    position: absolute;
    top: 352px;
    height: 351px;
    width: 646px;
    left: 285px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px grey;
}
/*#facebookVideoSize{
    height: 446px;
    width: 792px;
    box-shadow: 0px 0px 20px 0px grey;
}*/
#facebookvideoNameSize{
    font-size: 30px;
    position: absolute;
    top: 706px;
    left: 460px;
    color: #20b2ae;
}
.shopDiv{
    height: 295px;
    width: 646px;
    position: absolute;
    display: inline-flex;
    right: 43px;
    top: 766px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px grey;
}
#ShopTagSize{
    position: absolute;
    top: 0px;
    right: 588px;
    color: darkblue;
    font-size: 20px;
}
#FirstAddDiv{
    height: 235px;
    width: 285px;
    margin-left: 32px;
    margin-top: 30px;
}
#FirstAddSize{
    height: 235px;
    width: 285px;
    margin-left: -16px;
    margin-top: 0px;
}
#firstprice-offer{
    position: absolute;
    font-size: 18px;
    top: 237px;
    left: -2px;
    font-family: telenorRegularimport;
}
#SecondAddDiv{
    height: 100%;
    /*background-color: green;
    opacity: .3;*/
    padding: 0px;
    margin:0px;

}
#SecondAddSize{
    height: 235px;
    width: 285px;
    margin-left: 14px;
    margin-top: 30px;
}
#secondprice-offer{
    position: absolute;
    font-size: 18px;
    top: 266px;
    left: 14px;
    font-family: telenorRegularimport;
}
.addAreaDiv{
    height: 235px;
    width: 434px;
    position: absolute;
    bottom: 56px;
    right: 30px;
    visibility: hidden;
    
}
#addAreaSize{
    height: 235px;
    width: 434px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px grey;
}
.Like-IconDiv{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 375px;
    left: 30px;
    display: inline-block;
    /*background-color: red;
    opacity: .3;*/
}
#like-img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}
#like-amount {
    position: absolute;
    top: 460px;
    font-size: 25px;
    left: 28px;
    height: 100px;
    color: rgb(65,103,178);
    font-family: telenorRegularimport;
}
#like-tag {
    position: absolute;
    top: 492px;
    font-size: 25px;
    left: 32px;
    height: 100px;
    color: rgb(65,103,178);
    font-family: telenorRegularimport;
}

.follow-IconDiv {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 600px;
    left: 30px;
    display: inline-block;
}
#follow-img{
    max-height: 100%;
    max-width: 100%;
    display: inline-block;
}
#follow-amount {
    position: absolute;
    top: 676px;
    font-size: 25px;
    left: 28px;
    height: 100px;
    color: rgb(65,103,178);
    font-family: telenorRegularimport;
}
#follow-tag {
    position: absolute;
    top: 710px;
    font-size: 25px;
    left: 32px;
    height: 100px;
    color: rgb(65,103,178);
    font-family: telenorRegularimport;
}*{
    transition: all .5s linear;
}
@font-face{
    font-family: telenorRegularimport;
    src:url(telenorRegular.TTF);    
}
@font-face{
    font-family: TelenorLightimport;
    src:url(TelenorLight.TTF);
}

body{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: black;
    background-image: url("PartnershipFacebookBackgroundSplit.png");
    background-repeat: no-repeat;
}
.container-fluid{
    padding: 0px;
    width: 960px;
    height: 1080px;
}
.profilePictureDiv{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 70px;
    left: 26px;
}
#profilePictureImg{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 20px 0px grey;
}
.grameenphoneTagDiv{
    height: 50px;
    width: 270px;
    position: absolute;
    left: 48px;
    top: 418px;
    background-color: red;
    opacity: .3;

}
#grameenPageName{
    position: absolute;
    left: 10px;
    top: 280px;
    font-size: 30px;
    display: inline-block;
    font-family: telenorRegularimport;
}
#grameenphoneAtTag{
    font-family: telenorRegularimport;
    height: 30px;
    position: absolute;
    left: 46px;
    top: 320px;
    font-size: 22px;
}
#grameenphoneIcon{
    position: absolute;
    left: 224px;
    top: 292px;
    height: 25px;
    width: 25px;
}
.coverPictureDiv {
    height: 260px;
    width: 702px;
    position: absolute;
    top: 44px;
    left: 256px;
}
#coverPictureImg{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 20px 0px grey;
}
.recentPost {
    position: absolute;
    top: 800px;
    height: 200px;
    width: 200px;
    left: 32px;
}
#recentPostSize{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 20px 0px grey;
    visibility: hidden;
}
#captionSize{
    font-size: 20px;
    position: absolute;
    top: 1015px;
    left: 85px;
    font-family: telenorRegularimport;
    visibility: hidden;
}
.facebookVideoDiv{
    position: absolute;
    top: 352px;
    height: 351px;
    width: 646px;
    left: 285px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px grey;
}
/*#facebookVideoSize{
    height: 446px;
    width: 792px;
    box-shadow: 0px 0px 20px 0px grey;
}*/
#facebookvideoNameSize{
    font-size: 30px;
    position: absolute;
    top: 706px;
    left: 460px;
    color: #20b2ae;
}
.shopDiv{
    height: 295px;
    width: 646px;
    position: absolute;
    display: inline-flex;
    right: 43px;
    top: 766px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px grey;
}
#ShopTagSize{
    position: absolute;
    top: 0px;
    right: 588px;
    color: darkblue;
    font-size: 20px;
}
#FirstAddDiv{
    height: 235px;
    width: 285px;
    margin-left: 32px;
    margin-top: 30px;
}
#FirstAddSize{
    height: 235px;
    width: 285px;
    margin-left: -16px;
    margin-top: 0px;
}
#firstprice-offer{
    position: absolute;
    font-size: 18px;
    top: 237px;
    left: -2px;
    font-family: telenorRegularimport;
}
#SecondAddDiv{
    height: 100%;
    /*background-color: green;
    opacity: .3;*/
    padding: 0px;
    margin:0px;

}
#SecondAddSize{
    height: 235px;
    width: 285px;
    margin-left: 14px;
    margin-top: 30px;
}
#secondprice-offer{
    position: absolute;
    font-size: 18px;
    top: 266px;
    left: 14px;
    font-family: telenorRegularimport;
}
.addAreaDiv{
    height: 235px;
    width: 434px;
    position: absolute;
    bottom: 56px;
    right: 30px;
    visibility: hidden;
    
}
#addAreaSize{
    height: 235px;
    width: 434px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px grey;
}
.Like-IconDiv{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 375px;
    left: 30px;
    display: inline-block;
    /*background-color: red;
    opacity: .3;*/
}
#like-img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}
#like-amount {
    position: absolute;
    top: 460px;
    font-size: 25px;
    left: 28px;
    height: 100px;
    color: rgb(65,103,178);
    font-family: telenorRegularimport;
}
#like-tag {
    position: absolute;
    top: 492px;
    font-size: 25px;
    left: 32px;
    height: 100px;
    color: rgb(65,103,178);
    font-family: telenorRegularimport;
}

.follow-IconDiv {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 600px;
    left: 30px;
    display: inline-block;
}
#follow-img{
    max-height: 100%;
    max-width: 100%;
    display: inline-block;
}
#follow-amount {
    position: absolute;
    top: 676px;
    font-size: 25px;
    left: 28px;
    height: 100px;
    color: rgb(65,103,178);
    font-family: telenorRegularimport;
}
#follow-tag {
    position: absolute;
    top: 710px;
    font-size: 25px;
    left: 32px;
    height: 100px;
    color: rgb(65,103,178);
    font-family: telenorRegularimport;
}