*{
    transition: all .5s linear;
}
@font-face{
    font-family: telenorRegularimport;
    src:url(telenorRegular.TTF);    
}
@font-face{
    font-family: TelenorLightimport;
    src:url(TelenorLight.TTF);
}

body{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: black;
    background-image: url("PartnershipFacebookBackgroundSplit.png");
    background-repeat: no-repeat;
}
.container-fluid{
    padding: 0px;
    width: 960px;
    height: 1080px;
}
.profilePictureDiv{
    height: 140px;
    width: 140px;
    position: absolute;
    top: 95px;
    left: 410px;
    z-index: 1;
}
#profilePictureImg{
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px grey;
}
.grameenphoneTagDiv{
    height: 50px;
    width: 270px;
    position: absolute;
    left: 48px;
    top: 418px;
    background-color: red;
    opacity: .3;

}
#grameenPageName{
    position: absolute;
    left: 400px;
    top: 245px;
    font-size: 22px;
    color: white;
    display: inline-block;
    font-family: telenorRegularimport;
    z-index: 1;
}
#grameenphoneAtTag{
    font-family: telenorRegularimport;
    height: 30px;
    position: absolute;
    left: 414px;
    top: 275px;
    font-size: 16px;
    color: white;
    z-index: 1;
}
#grameenphoneIcon{
    position: absolute;
    left: 460px;
    top: 305px;
    height: 25px;
    width: 25px;
    z-index: 1;
}
.coverPictureDiv{
    height: 285px;
    width: 790px;
    position: absolute;
    left: 85px;
    top: 68px;
}
#coverPictureImg{
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 5px 0px grey;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    filter: brightness(50%);
}
.cover-down-part{
    position: absolute;
    top: 350px;
    left: 85px;
    width: 790px;
    height: 80px;
    background-color: rgb(0,148,255);
    box-shadow: 0px 1px 5px black inset;
    border-radius: 0px 0px 15px 15px;
}
.recentPost{
    position: absolute;
    top: 119px;
    height: 270px;
    width: 270px;
    right: 122px;
}
#recentPostSize{
    height: 270px;
    width: 270px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px grey;
}
#captionSize{
    font-size: 20px;
    position: absolute;
    top: 400px;
    right: 300px;
    font-family: telenorRegularimport;
}
.facebookVideoDiv{
    position: absolute;
    bottom: 240px;
    height: 328px;
    width: 580px;
    right: 190px;
    background-color: white;
    border-radius: 15px;
}
#facebookVideoSize{
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px 0px grey;
    border-radius: 15px;
    background-color: white;
}
#facebookvideoNameSize{
    font-size: 20px;
    position: absolute;
    top: 460px;
    left: 190px;
    z-index: 1;
    font-family: telenorRegularimport;
}
.shopDiv{
    height: 225px;
    width: 330px;
    position: absolute;
    left: 1585px;
    top: 464px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px grey;
}
#ShopTagSize{
    position: absolute;
    top: 10px;
    right: 360px;
    font-size: 20px;
}
#FirstAddDiv{
    height: 100%;
    /*background-color: red;
    opacity: .3;*/
    padding: 0px;
    margin:0px;
}
#FirstAddSize{
    height: 150px;
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
}
#firstprice-offer{
    position: absolute;
    font-size: 20px;
    top: 165px;
    left: 10px;
    font-family: telenorRegularimport;
}
#SecondAddDiv{
    height: 100%;
    /*background-color: green;
    opacity: .3;*/
    padding: 0px;
    margin:0px;

}
#SecondAddSize{
    height: 150px;
    width: 150px;
    margin-left: 6px;
    margin-top: 10px;
}
#secondprice-offer{
    position: absolute;
    font-size: 20px;
    top: 165px;
    left: 8px;
    font-family: telenorRegularimport;
}
.addAreaDiv-1{
    height: 80px;
    width: 145px;
    position: absolute;
    bottom: 135px;
    left: 190px;
}
.addAreaDiv-2{
    height: 80px;
    width: 145px;
    position: absolute;
    bottom: 135px;
    right: 410px;
}
.addAreaDiv-3{
    height: 80px;
    width: 145px;
    position: absolute;
    bottom: 135px;
    right: 190px;
}
#addAreaSize{
    height: 100%;
    border-radius: 15px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 20px 0px grey;
    z-index: 1;
}
.Like-IconDiv{
    height: 45px;
    position: absolute;
    top: 372px;
    left: 190px;
    display: inline-block;
}
#like-img{
    height: 45px;
    display: inline-block;
}
#like-amount{
    position: absolute;
    top: 380px;
    font-size: 15px;
    left: 270px;
    font-family: telenorRegularimport;
}
#like-tag{
    position: absolute;
    top: 400px;
    font-size: 15px;
    left: 258px;
    font-family: telenorRegularimport;
}

.follow-IconDiv{
    height: 60px;
    width: 60px;
    position: absolute;
    top: 377px;
    left: 590px;
    display: inline-block;
}
#follow-img{
    height: 45px;
    display: inline-block;
}
#follow-amount{
    position: absolute;
    top: 380px;
    font-size: 15px;
    right: 210px;
    font-family: telenorRegularimport;
}
#follow-tag{
    position: absolute;
    top: 400px;
    font-size: 15px;
    right: 190px;
    font-family: telenorRegularimport;
}
.body-wrapper{
    background-color: #e9ebef;
    position: absolute;
    width: 730px;
    height: 572px;
    bottom: 76px;
    box-shadow: 0px 0.5px 10px black inset;
    right: 120px;
    border-radius: 0px 0px 15px 15px;
}