*{
    transition: all .3s linear;
}
@font-face{
	font-family: telenorRegularimport;
	src:url(telenorRegular.TTF);	
}
@font-face{
	font-family: TelenorLightimport;
	src:url(TelenorLight.TTF);
}

body{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: black;
	background-image: url("PartnershipYoutubeBackground.png");
	background-repeat: no-repeat;
}
.container-fluid{
	padding: 0px;
	width: 960px;
	height: 1080px;
}
.youtubeCoverphotodiv{
    height: 285px;
    width: 790px;
    position: absolute;
    left: 85px;
    top: 68px;
}
#youtubeCoverSize{
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 5px 0px grey;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    filter: brightness(70%);
}
.cover-down-part{
    position: absolute;
    top: 350px;
    left: 85px;
    width: 790px;
    height: 80px;
    background-color: rgb(230,45,40);
    box-shadow: 0px 1px 5px black inset;
    border-radius: 0px 0px 15px 15px;
}
.youtubeGpProfilediv{
    height: 140px;
    width: 140px;
    position: absolute;
    top: 95px;
    left: 410px;
    z-index: 1;
}
#gpProfileyoutubeSize{
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px grey;
}
.youtubeGpTag{
    position: absolute;
    left: 400px;
    top: 245px;
    font-size: 22px;
    color: white;
    display: inline-block;
    font-family: telenorRegularimport;
    z-index: 1;

}
#varify-img{
    position: absolute;
    left: 65px;
    top: 40px;
    height: 25px;
    width: 25px;
    z-index: 1;
}
.body-wrapper{
    background-color: #e9ebef;
    position: absolute;
    width: 730px;
    height: 572px;
    bottom: 76px;
    box-shadow: 0px 0.5px 10px black inset;
    right: 120px;
    border-radius: 0px 0px 15px 15px;
}
.youtubeVideodiv{
    position: absolute;
    bottom: 240px;
    height: 328px;
    width: 580px;
    right: 190px;
    background-color: white;
    border-radius: 15px;
}
#youtubeVideoSize{
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px 0px grey;
    border-radius: 15px;
    background-color: white;
}
#addAreaSize{
    height: 100%;
    border-radius: 15px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 20px 0px grey;
    z-index: 1;
}
.addAreaDiv-1{
    height: 80px;
    width: 145px;
    position: absolute;
    bottom: 135px;
    left: 190px;
}
.addAreaDiv-2{
    height: 80px;
    width: 145px;
    position: absolute;
    bottom: 135px;
    right: 410px;
}
.addAreaDiv-3{
    height: 80px;
    width: 145px;
    position: absolute;
    bottom: 135px;
    right: 190px;
}

#latestSongTitle {
    font-size: 20px;
    position: absolute;
    top: 460px;
    left: 190px;
    z-index: 1;
    font-family: telenorRegularimport;
}
#icon-id{
    height: 40px;
    display: inline-block;
}
.subscribers-tag{
    position: absolute;
    top: 390px;
    font-size: 17px;
    right: 401px;
    font-family: telenorRegularimport;
    color: white;
}
.viewnumber{
    position: absolute;
    top: 370px;
    font-size: 15px;
    right: 410px;
    font-family: telenorRegularimport;
    color: white;
}
.youtube-icon{
    position: absolute;
    top: 370px;
    left: 385px;
}