*{
	transition: all .3s linear;
}
@font-face{
	font-family: telenorRegularimport;
	src:url(telenorRegular.TTF);	
}
@font-face{
	font-family: TelenorLightimport;
	src:url(TelenorLight.TTF);
}

body{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: black;
	background-image: url("PartnershipYoutubeBackgroundBs.png");
	background-repeat: no-repeat;
}
.container-fluid{
	padding: 0px;
	width: 1920px;
	height: 1080px;
}
.youtubeCoverphotodiv{
    height: 700px;
    width: 570px;
    position: absolute;
    right: 150px;
    top: 126px;
}
#youtubeCoverSize{
	height: 100%;
	width: 100%;
	box-shadow: 0px 0px 5px 0px grey;
	object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    filter: brightness(70%);
}
.cover-down-part{
    position: absolute;
    top: 826px;
    right: 148px;
    width: 572px;
    height: 138px;
    background-color: rgb(230,45,40);
    box-shadow: 0px 1px 5px black inset;
    border-radius: 0px 0px 15px 15px;
}
.youtubeGpProfilediv{
    height: 240px;
    width: 240px;
    position: absolute;
    top: 310px;
    right: 310px;
    z-index: 1;
	
}
#gpProfileyoutubeSize{
	height: 240px;
	width: 240px;
	border-radius:50%;
	box-shadow: 0px 0px 20px 0px grey;
}
.youtubeGpTag{
	position: absolute;
    right: 320px;
    top: 583px;
    font-size: 32px;
    color: white;
    display: inline-block;
    font-family: telenorRegularimport;
    z-index: 1;

}
#varify-img{
	position: absolute;
    top: 75px;
    left: 85px;
    height: 45px;
}
.youtubeVideodiv{
	position: absolute;
    top: 258px;
    height: 462px;
    width: 822px;
    left: 265px;
    background-color: white;
    border-radius: 15px;
}
#videoSizeDiv{
	height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px 0px grey;
    border-radius: 15px;
    background-color: white;
}
.addDiv{
	position: absolute;
	top: 810px;
	right: 80px;
	height: 174px;
	width: 322px;
}
#addSize{
	height: 174px;
	width: 322px;
	box-shadow: 0px 0px 20px 0px grey;
}
#latestSongTitle{
	font-size: 35px;
    position: absolute;
    top: 175px;
    left:265px;
    z-index: 1;
    font-family: telenorRegularimport;
}
.viewnumber{
    position: absolute;
    top: 865px;
    font-size: 22px;
    left: 1470px;
    font-family: telenorRegularimport;
    z-index: 1;
    color: white;
}
.discription{
	position: absolute;
    top: 600px;
    font-size: 25px;
    left: 1525px;
    font-family: telenorRegularimport;
}
.discription-1{
	position: absolute;
    top: 630px;
    font-size: 25px;
    left: 1525px;
    font-family: telenorRegularimport;
}
.discription-2{
	position: absolute;
    top: 660px;
    font-size: 25px;
    left: 1525px;
    font-family: telenorRegularimport;
}
.body-wrapper{
    background-color: #e9ebef;
    position: absolute;
    width:1062px;
    height: 796px;
    top: 143px;
    left: 137px;
    border-radius: 15px 0px 0px 15px;
}
#addAreaSize{
    height: 100%;
    border-radius: 15px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 20px 0px grey;
    z-index: 1;
}
.addAreaDiv-1{
    height: 113px;
    width: 208px;
    position: absolute;
    top: 760px;
    left: 265px;
}
.addAreaDiv-2{
    height: 113px;
    width: 208px;
    position: absolute;
    top: 760px;
    left: 570px;
}
.addAreaDiv-3{
    height: 113px;
    width: 208px;
    position: absolute;
    top: 760px;
    left: 880px;
}
.youtube-icon{
    width: 55px;
    height: 40px;
    position: absolute;
    right: 500px;
    bottom: 165px;
    z-index: 1;
}
#icon-id{
	height: 100%;
    width: 100%;
}
.subscribers-tag{
	position: absolute;
    top: 890px;
    font-size: 25px;
    left: 1463px;
    font-family: telenorRegularimport;
    z-index: 1;
    color: white;
}